<article>
  <hr>
  <div class="title">
    <h3>{{title}}</h3>
  </div>
  <div>
    {{content}}

    <span> -- {{comments.length}} {{format_plural "comment" comment.length}}</span>
  </div>
  {{!-- <span> Created at {{created_at}} </span> <<--NOT WORKING --}}
  <br>
  <button type='submit' id="commentBtn" onclick="commentButtonAction({{id}})">Comment</button>
  <hr>
</article>