<div class="cardWithComments" style=" background: rgb(211, 211, 211)">
  <div class="card-body">    
    <h5 class="card-title" id="{{id}}">{{title}}</a></h5>
    <p class="card-text">{{content}}</p>    
    <span>{{comments.length}} {{format_plural "comment" comment.length}}</span>
  </div>
</div>