<h1>Testing the output</h1>

{{#each user}}
<li>
  <article>
  <hr>
  <div class="title">
    <h3> {{role}}</h3>
  </div>
  <div>
   Name : {{first_name}}{{last_name}}

    <span> -- {{posts.length}}</span>
  </div>
  {{!-- <span> Created at {{created_at}} </span> <<--NOT WORKING --}}
  <br>
  {{!-- <button type='submit' id="commentBtn" onclick="commentButtonAction({{post.id}})">Comment</button> --}}
  <hr>
</article>
</li>

{{!-- Comment: This is for the post --}}
{{/each}}

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/bounties.js"></script>
{{!-- {{/if}} --}}