{{#each posts as |post|}}
<article>
  <hr>
  <div class="title">
    <h3>{{post.title}}</h3>
  </div>
  <span data-post-id={{post.id}}>THIS IS THE POST ID: <b>{{post.id}}</b> </span>
  <div>
    {{post.content}}

    <span> -- {{post.comments.length}} comment(s)</span>
  </div>
  <br>
  <button type='submit' id="commentBtn" onclick="commentButtonAction({{post.id}})">Comment</button>
  <hr>
</article>

{{!-- {{#if loggedIn}} --}}
<div class="comments">
  {{#each post.comments as |comment|}}
  <section class="comment" style="border: 1px solid black; padding:5px">
    <div class="meta" style="text-decoration: underline">
      {{comment.user.first_name}} on {{comment.created_at}}
    </div>
    <span>Checking if it says logged in... {{loggedIn}}</span>
    <div class="text" style="font-size: larger;">
      {{comment.comment_text}}
    </div>
  </section>
  {{/each}}
</div>
{{!-- {{/if}} --}}

{{!-- This is for the post --}}
{{/each}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}